= form_for @cliente do |f|
  = render :partial => 'shared/error_messages', :locals => {:registro => @cliente}
  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :fecha_alta
    = f.date_select :fecha_alta
  .field
    = f.label :morosidad
    = f.text_field :morosidad
  .actions
    = f.submit 'Save'
