%h1 Listing clientes

%table
  %tr
    %th Nombre
    %th Fecha alta
    %th Morosidad
    %th
    %th
    %th

  - @clientes.each do |cliente|
    %tr
      %td= cliente.nombre
      %td= cliente.fecha_alta
      %td= cliente.morosidad
      %td= link_to 'Show', cliente
      %td= link_to 'Edit', edit_cliente_path(cliente)
      %td= link_to 'Destroy', cliente, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Cliente', new_cliente_path
